html {
	-webkit-text-size-adjust : none
}
body, h1, h2, h3, h4, h5, h6, input, button {
	font-family : "Helvetica Neue",
	'Hiragino Sans GB',
	Helvetica,
	'Microsoft YaHei',
	tahoma,
	sans-serif;
	-webkit-font-smoothing : antialiased
}
h1, h2, h3, h4, h5, h6, p, ul, dl, dd, ol {
	margin : 0
}
input, ul, ol {
	padding : 0
}
ul, ol {
	list-style : none
}
.icon {
	background : no-repeat;
	display : inline-block;
	position : relative;
	vertical-align : middle
}
.clearfix {
	 * zoom : 1
}
.clearfix : after {
	clear : both;
	content : '';
	display : table
}
.placeholder {
	color :  # cdcdcd
}
.container {
	margin : 0 auto;
	width : 1000px
}
.global-header {
	background-color :  # 202223;
	min-width : 1000px
}
.global-header.container {
	 * zoom : 1
}
.global-header.container : after {
	clear : both;
	content : '';
	display : table
}
.global-header.global-logo {
	float : left;
	height : 38px;
	padding-top : 22px;
	padding-left : 20px
}
.global-header.global-shortcut {
	float : right;
	height : 18px;
	padding-top : 34px;
	position : relative
}
.global-header.global-shortcut a {
	font-size : 14px;
	color :  # fff;
	display : inline-block;
	height : 18px;
	line-height : 18px;
	margin-right : 15px;
	cursor : pointer
}
.global-header.global-shortcut a : hover {
	color :  # 52af00;
	text-decoration : none
}
.global-header.global-shortcut.highlight {
	color :  # 52af00;
	font-weight : 700
}
.global-header.global-shortcut.line {
	color :  # fff;
	display : inline-block;
	margin-right : 15px
}
.global-header.global-shortcut.reg {
	margin : 0
}
.global-header.global-shortcut.or {
	color :  # fff;
	display : inline-block;
	margin-right : 5px
}
.global-header.global-shortcut.global-cart {
	background : url(.. / src / img / icon-cart.png)no-repeat 0 2px;
	color :  # 52af00;
	font-size : 14px;
	padding-left : 20px;
	width : 20px;
	font-weight : 700
}
.global-header.global-shortcut.global-cart : hover {
	color :  # fff
}
.global-header.global-shortcut.shopping-cart-list {
	border : 2px solid # 7ed51a;
	background-color :  # fff;
	display : none;
	padding : 10px 10px 20px;
	position : absolute;
	top : 70px;
	right : 0;
	z-index : 1000
}
.global-header.global-shortcut.shopping-cart-list li {
	height : 66px;
	border-bottom : 1px solid # d2d3d3;
	padding-top : 10px;
	 * zoom : 1
}
.global-header.global-shortcut.shopping-cart-list li : after {
	clear : both;
	content : '';
	display : table
}
.global-header.global-shortcut.shopping-cart-list li a {
	margin : 0
}
.global-header.global-shortcut.shopping-cart-list li.pic {
	height : 56px;
	margin-right : 10px;
	margin-bottom : 10px;
	float : left
}
.global-header.global-shortcut.shopping-cart-list li.cnt {
	float : left
}
.global-header.global-shortcut.shopping-cart-list li.cnt p {
	 * zoom : 1
}
.global-header.global-shortcut.shopping-cart-list li.cnt p : after {
	clear : both;
	content : '';
	display : table
}
.global-header.global-shortcut.shopping-cart-list li.cnt p.title {
	display : block;
	width : 136px;
	font-size : 14px;
	color :  # 202223;
	float : left
}
.global-header.global-shortcut.shopping-cart-list li.cnt p.title : hover {
	color :  # 52af00
}
.global-header.global-shortcut.shopping-cart-list li.cnt p span {
	display : block;
	width : 117px;
	text-align : center;
	font-size : 14px;
	color :  # 202223;
	float : left
}
.global-header.global-shortcut.shopping-cart-list li.cnt p.remove {
	display : block;
	width : 46px;
	text-align : center;
	font-size : 12px;
	color :  # 797979;
	float : left
}
.global-header.global-shortcut.shopping-cart-list li.cnt p.remove : hover {
	text-decoration : underline
}
.global-header.global-shortcut.shopping-cart-list li.cnt.num-box {
	position : relative;
	top : 5px
}
.global-header.global-shortcut.shopping-cart-list li.cnt.num-box a, .global-header.global-shortcut.shopping-cart-list li.cnt.num-box input {
	float : left
}
.global-header.global-shortcut.shopping-cart-list li.cnt.num-box input {
	background-color :  # fff;
	border : 1px solid # d2d3d3;
	border-left : none;
	border-right : none;
	color :  # 202223;
	font-size : 14px;
	height : 17px;
	line-height : 17px;
	padding : 6px 0;
	text-align : center;
	width : 59px
}
.global-header.global-shortcut.shopping-cart-list li.cnt.num-box a {
	background-color :  # efefef;
	border : 1px solid # d2d3d3;
	cursor : pointer;
	height : 29px;
	line-height : 29px;
	text-align : center;
	vertical-align : middle;
	width : 29px
}
.global-header.global-shortcut.shopping-cart-list li.cnt.num-box a i {
	background : no-repeat center center;
	display : inline-block;
	height : 12px;
	line-height : 12px;
	font-size : 0;
	width : 12px;
	vertical-align : middle
}
.global-header.global-shortcut.shopping-cart-list li.cnt.num-box.icon-cut {
	background-image : url(.. / src / img / icon-12.png)
}
.global-header.global-shortcut.shopping-cart-list li.cnt.num-box.icon-add {
	background-image : url(.. / src / img / icon-13.png)
}
.global-header.global-shortcut.shopping-cart-list h3 {
	font-size : 20px;
	color :  # 202223;
	padding-top : 20px
}
.global-header.global-shortcut.shopping-cart-list h4 {
	font-size : 12px;
	color :  # 202223;
	padding-top : 8px
}
.global-header.global-shortcut.shopping-cart-list.settle-btn {
	display : block;
	width : 136px;
	height : 42px;
	line-height : 42px;
	text-align : center;
	color :  # fff;
	background-color :  # ff5000;
	font-size : 18px;
	position : absolute;
	right : 9px;
	bottom : 21px
}
.global-wrap {
	min-width : 1000px;
	width : 100 %
}
.global-footer {
	background-color :  # 202223;
	min-width : 1000px;
	position : relative
}
.global-footer.siteinfo {
	width : 1000px;
	margin : 0 auto;
	font-size : 14px;
	color :  # fff;
	padding-top : 39px;
	padding-bottom : 40px
}
.global-footer.siteinfo img {
	float : left;
	margin-left : 171px;
	margin-right : 20px
}
.global-footer.siteinfo h4 {
	font-size : 20px;
	font-weight : 700;
	margin-bottom : 12px
}
.global-footer.siteinfo.attention {
	float : left;
	height : 188px;
	padding-right : 39px;
	margin-right : 39px;
	border-right : 1px solid # 797979
}
.global-footer.siteinfo.attention img {
	margin-left : 0;
	margin-right : 8px
}
.global-footer.siteinfo.relation {
	float : left
}
.global-footer.siteinfo.relation p {
	line-height : 24px
}
.global-footer.siteinfo.relation p b {
	font-size : 18px
}
.global-footer.siteinfo.relation p span {
	color :  # 52af00
}
.global-footer.siteinfo.relation p a {
	color :  # fff
}
.global-footer.reference {
	height : 32px;
	line-height : 32px;
	text-align : center;
	color :  # fff;
	background-color :  # 202223;
	border-top : 1px solid # 797979
}
.global-footer.reference span {
	margin : 0 40px
}
.succeed-addition {
	width : 415px;
	height : 110px;
	background-color :  # fff;
	border : 2px solid # 52af00;
	position : absolute;
	top : 70px;
	left : 50 % ;
	margin-left : 40px;
	z-index : 500;
	padding : 30px 20px;
	 * zoom : 1;
	display : none
}
.succeed-addition : after {
	clear : both;
	content : '';
	display : table
}
.succeed-addition.end-btn {
	display : inline-block;
	width : 16px;
	height : 16px;
	background : url("../src/img/end-x.png")no-repeat;
	position : absolute;
	top : 20px;
	right : 20px;
	cursor : pointer
}
.succeed-addition.merchandise {
	float : left;
	width : 190px;
	height : 110px
}
.succeed-addition.merchandise h2 {
	font-size : 24px;
	line-height : 26px;
	color :  # 202223
}
.succeed-addition.merchandise.merchandise-content {
	margin-top : 28px;
	 * zoom : 1
}
.succeed-addition.merchandise.merchandise-content : after {
	clear : both;
	content : '';
	display : table
}
.succeed-addition.merchandise.merchandise-content img {
	float : left
}
.succeed-addition.merchandise.merchandise-content.merchandise-message {
	float : left
}
.succeed-addition.merchandise.merchandise-content.merchandise-message p {
	font-size : 12px;
	line-height : 14px;
	padding-bottom : 7px;
	padding-left : 10px
}
.succeed-addition.merchandise.merchandise-content.merchandise-message p b {
	color :  # 52af00
}
.succeed-addition.merchandise.merchandise-content.merchandise-message.merchandise-title {
	font-size : 14px
}
.succeed-addition.total {
	float : right;
	width : 204px;
	height : 110px;
	border-left : 1px solid # d2d3d3;
	padding-left : 20px
}
.succeed-addition.total h3 {
	line-height : 26px;
	font-size : 20px;
	color :  # 202223
}
.succeed-addition.total p {
	line-height : 24px
}
.succeed-addition.total.total-btn {
	margin-top : 31px;
	 * zoom : 1
}
.succeed-addition.total.total-btn : after {
	clear : both;
	content : '';
	display : table
}
.succeed-addition.total.total-btn a {
	display : block;
	height : 30px;
	line-height : 30px;
	text-align : center;
	color :  # fff;
	font-size : 14px;
	float : left
}
.succeed-addition.total.total-btn.examine {
	width : 120px;
	background-color :  # 797979
}
.succeed-addition.total.total-btn.settle-accounts {
	width : 70px;
	background-color :  # ff5000;
	margin-left : 10px
}
.mask {
	width : 100 % ;
	height : 100 % ;
	background-color :  # 000;
	opacity : .62;
	filter : alpha(opacity = 62);
	position : fixed;
	z-index : 900;
	display : none;
	left : 0;
	right : 0;
	top : 0;
	bottom : 0
}
.landing {
	width : 558px;
	height : 408px;
	border : 1px solid # d2d3d3;
	background-color :  # fff;
	padding : 20px;
	position : fixed;
	left : 50 % ;
	top : 50 % ;
	margin-left : -300px;
	margin-top : -225px;
	z-index : 1000;
	display : none
}
.landing.end-btn {
	display : inline-block;
	width : 16px;
	height : 16px;
	background : url("../src/img/end-x.png")no-repeat;
	position : absolute;
	top : 20px;
	right : 20px;
	cursor : pointer
}
.landing.landing-title {
	height : 39px;
	border-bottom : 1px solid # d2d3d3
}
.landing.landing-title h2 {
	font-size : 20px
}
.landing.landing-title a {
	font-size : 14px;
	color :  # 797979;
	text-decoration : underline;
	margin-left : 5px;
	cursor : pointer
}
.landing.wechat {
	float : left;
	width : 279px
}
.landing.wechat h3 {
	font-size : 14px;
	line-height : 48px
}
.landing.wechat p {
	font-size : 12px;
	line-height : 20px
}
.landing.wechat img {
	margin-top : 25px;
	margin-left : 35px
}
.landing.wechat span {
	display : block;
	color :  # 52af00;
	font-size : 14px;
	line-height : 22px;
	padding-top : 25px;
	padding-left : 10px
}
.landing.accounts {
	float : left;
	width : 264px;
	padding-left : 15px
}
.landing.accounts h3 {
	font-size : 14px;
	line-height : 48px
}
.landing.accounts form input {
	display : block;
	width : 251px;
	height : 30px;
	font-size : 14px;
	border : 1px solid # d2d3d3;
	padding : 5px;
	margin : 5px 0
}
.landing.accounts form p {
	line-height : 20px
}
.landing.accounts form p a {
	color :  # 797979;
	text-decoration : underline;
	cursor : pointer
}
.landing.accounts form.error span {
	color :  # f00
}
.landing.accounts form.login-btn {
	text-align : center;
	padding-top : 122px;
	padding-left : 63px
}
.landing.accounts form.login-btn a {
	display : block;
	width : 136px;
	height : 42px;
	line-height : 42px;
	text-align : center;
	color :  # 202223;
	font-size : 18px;
	background-color :  # 7ed51a
}
.e-mail-reg {
	width : 558px;
	height : 408px;
	border : 1px solid # d2d3d3;
	background-color :  # fff;
	padding : 20px;
	position : fixed;
	left : 50 % ;
	top : 50 % ;
	margin-left : -300px;
	margin-top : -225px;
	z-index : 1000;
	display : none
}
.e-mail-reg.end-btn {
	display : inline-block;
	width : 16px;
	height : 16px;
	background : url("../src/img/end-x.png")no-repeat;
	position : absolute;
	top : 20px;
	right : 20px;
	cursor : pointer
}
.e-mail-reg.landing-title {
	height : 39px;
	border-bottom : 1px solid # d2d3d3
}
.e-mail-reg.landing-title h2 {
	font-size : 20px
}
.e-mail-reg.landing-title a {
	font-size : 14px;
	color :  # 797979;
	text-decoration : underline;
	margin-left : 5px;
	cursor : pointer
}
.e-mail-reg.wechat {
	float : left;
	width : 279px
}
.e-mail-reg.wechat h3 {
	font-size : 14px;
	line-height : 48px
}
.e-mail-reg.wechat p {
	font-size : 12px;
	line-height : 20px
}
.e-mail-reg.wechat img {
	margin-top : 25px;
	margin-left : 35px
}
.e-mail-reg.wechat span {
	display : block;
	color :  # 52af00;
	font-size : 14px;
	line-height : 22px;
	padding-top : 25px;
	padding-left : 10px
}
.e-mail-reg.message {
	float : left;
	width : 264px;
	padding-left : 15px
}
.e-mail-reg.message.cut {
	height : 53px;
	line-height : 53px;
	text-align : center
}
.e-mail-reg.message.cut span {
	display : inline-block;
	width : 50 % ;
	color :  # 797979;
	font-size : 14px;
	border-bottom : 1px solid # d2d3d3;
	cursor : pointer
}
.e-mail-reg.message.cut.active {
	height : 52px;
	color :  # 202223;
	border-bottom : 2px solid # 7ed51a
}
.e-mail-reg.message form input {
	display : block;
	width : 251px;
	height : 30px;
	font-size : 14px;
	border : 1px solid # d2d3d3;
	padding : 5px;
	margin : 5px 0
}
.e-mail-reg.message form.recommend {
	width : 166px;
	background-color :  # efefef
}
.e-mail-reg.message form.error-e-mail {
	line-height : 18px;
	color :  # f00
}
.e-mail-reg.message form.error-e-mail a {
	color :  # f00;
	text-decoration : underline;
	cursor : pointer
}
.e-mail-reg.message form.error-input {
	background-color :  # ffe5e5;
	border : 1px solid # ff8080
}
.e-mail-reg.message form.error-password {
	line-height : 18px;
	color :  # f00;
	display : none
}
.e-mail-reg.message form.error-password a {
	color :  # f00;
	text-decoration : underline
}
.e-mail-reg.message form.reg-btn {
	text-align : center;
	padding-top : 32px;
	padding-left : 63px
}
.e-mail-reg.message form.reg-btn a {
	display : block;
	width : 136px;
	height : 42px;
	line-height : 42px;
	text-align : center;
	color :  # 202223;
	font-size : 18px;
	background-color :  # 7ed51a
}
.phone-reg {
	width : 558px;
	border : 1px solid # d2d3d3;
	background-color :  # fff;
	padding : 20px;
	position : fixed;
	left : 50 % ;
	top : 50 % ;
	margin-left : -300px;
	margin-top : -225px;
	z-index : 1000;
	display : none
}
.phone-reg.end-btn {
	display : inline-block;
	width : 16px;
	height : 16px;
	background : url("../src/img/end-x.png")no-repeat;
	position : absolute;
	top : 20px;
	right : 20px;
	cursor : pointer
}
.phone-reg.landing-title {
	height : 39px;
	border-bottom : 1px solid # d2d3d3
}
.phone-reg.landing-title h2 {
	font-size : 20px
}
.phone-reg.landing-title a {
	font-size : 14px;
	color :  # 797979;
	text-decoration : underline;
	margin-left : 5px;
	cursor : pointer
}
.phone-reg.wechat {
	float : left;
	width : 279px
}
.phone-reg.wechat h3 {
	font-size : 14px;
	line-height : 48px
}
.phone-reg.wechat p {
	font-size : 12px;
	line-height : 20px
}
.phone-reg.wechat img {
	margin-top : 25px;
	margin-left : 35px
}
.phone-reg.wechat span {
	display : block;
	color :  # 52af00;
	font-size : 14px;
	line-height : 22px;
	padding-top : 25px;
	padding-left : 10px
}
.phone-reg.message {
	float : left;
	width : 264px;
	padding-left : 15px
}
.phone-reg.message.cut {
	height : 53px;
	line-height : 53px;
	text-align : center
}
.phone-reg.message.cut span {
	display : inline-block;
	width : 50 % ;
	color :  # 797979;
	font-size : 14px;
	border-bottom : 1px solid # d2d3d3;
	cursor : pointer
}
.phone-reg.message.cut.active {
	height : 52px;
	color :  # 202223;
	border-bottom : 2px solid # 7ed51a
}
.phone-reg.message form input {
	display : block;
	width : 251px;
	height : 30px;
	font-size : 14px;
	border : 1px solid # d2d3d3;
	padding : 5px;
	margin : 5px 0
}
.phone-reg.message form.verify {
	position : relative
}
.phone-reg.message form.verify input {
	width : 160px
}
.phone-reg.message form.verify.gain-btn {
	display : inline-block;
	width : 95px;
	height : 42px;
	line-height : 42px;
	text-align : center;
	color :  # 202223;
	background-color :  # 7ed51a;
	position : absolute;
	top : 0;
	right : 0
}
.phone-reg.message form.verify.wait {
	display : none;
	width : 93px;
	height : 40px;
	text-align : center;
	color :  # 797979;
	background-color :  # efefef;
	border : 1px solid # d2d3d3;
	position : absolute;
	top : 0;
	right : 0
}
.phone-reg.message form.verify.wait p {
	line-height : 15px;
	margin-top : 6px
}
.phone-reg.message form.recommend {
	width : 166px;
	background-color :  # efefef
}
.phone-reg.message form.error-input {
	background-color :  # ffe5e5;
	border : 1px solid # ff8080
}
.phone-reg.message form.error-password {
	line-height : 18px;
	color :  # f00
}
.phone-reg.message form.error-password a {
	color :  # f00;
	text-decoration : underline
}
.phone-reg.message form.reg-btn {
	text-align : center;
	padding-top : 32px;
	padding-left : 63px
}
.phone-reg.message form.reg-btn a {
	display : block;
	width : 136px;
	height : 42px;
	line-height : 42px;
	text-align : center;
	color :  # 202223;
	font-size : 18px;
	background-color :  # 7ed51a
}
.reset-password {
	width : 558px;
	border : 1px solid # d2d3d3;
	background-color :  # fff;
	padding : 20px;
	position : fixed;
	left : 50 % ;
	top : 50 % ;
	margin-left : -300px;
	margin-top : -225px;
	z-index : 1000;
	display : none
}
.reset-password.end-btn {
	display : inline-block;
	width : 16px;
	height : 16px;
	background : url("../src/img/end-x.png")no-repeat;
	position : absolute;
	top : 20px;
	right : 20px;
	cursor : pointer
}
.reset-password.landing-title {
	height : 39px;
	border-bottom : 1px solid # d2d3d3
}
.reset-password.landing-title h2 {
	font-size : 20px
}
.reset-password.landing-title a {
	font-size : 14px;
	color :  # 797979;
	text-decoration : underline;
	margin-left : 5px;
	cursor : pointer
}
.reset-password.message {
	width : 264px;
	padding-left : 15px;
	margin : 20px auto
}
.reset-password.message.cut {
	height : 53px;
	line-height : 53px;
	text-align : center
}
.reset-password.message.cut span {
	display : inline-block;
	width : 50 % ;
	color :  # 797979;
	font-size : 14px;
	border-bottom : 1px solid # d2d3d3;
	cursor : pointer
}
.reset-password.message.cut.active {
	height : 52px;
	color :  # 202223;
	border-bottom : 2px solid # 7ed51a
}
.reset-password.message form input {
	display : block;
	width : 251px;
	height : 30px;
	font-size : 14px;
	border : 1px solid # d2d3d3;
	padding : 5px;
	margin : 5px 0
}
.reset-password.message form.verify {
	position : relative
}
.reset-password.message form.verify input {
	width : 160px
}
.reset-password.message form.verify.gain-btn {
	display : none;
	width : 95px;
	height : 42px;
	line-height : 42px;
	text-align : center;
	color :  # 202223;
	background-color :  # 7ed51a;
	position : absolute;
	top : 0;
	right : 0
}
.reset-password.message form.verify.wait {
	display : inline-block;
	width : 93px;
	height : 40px;
	text-align : center;
	color :  # 797979;
	background-color :  # efefef;
	border : 1px solid # d2d3d3;
	position : absolute;
	top : 0;
	right : 0
}
.reset-password.message form.verify.wait p {
	line-height : 15px;
	margin-top : 6px
}
.reset-password.message form.recommend {
	width : 166px;
	background-color :  # efefef
}
.reset-password.message form.error-input {
	background-color :  # ffe5e5;
	border : 1px solid # ff8080
}
.reset-password.message form.error-password {
	line-height : 18px;
	color :  # f00
}
.reset-password.message form.error-password a {
	color :  # f00;
	text-decoration : underline
}
.reset-password.message form.reset-btn {
	text-align : center;
	padding-top : 72px;
	padding-left : 60px
}
.reset-password.message form.reset-btn a {
	display : block;
	width : 136px;
	height : 42px;
	line-height : 42px;
	text-align : center;
	color :  # 202223;
	font-size : 18px;
	background-color :  # 7ed51a
}