
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
body {font-family: 'Ek Mukta', sans-serif;color: #666;background-color: #fff;font-size: 16px;line-height: 1.6em;font-weight: 400;}
html, body {width:100%; padding:0; margin:0;}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

h1 {font-size: 38px;}
h2 {font-size: 36px;}
h3 {font-size: 32px;}
h4 {font-size: 28px;}
h5 {font-size: 24px;}
h6 {font-size: 20px;}

h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', sans-serif;font-weight: 600;color: #111;}

p {
  margin: 0;
  color: #816943;
  text-align: left;
  font-size: 13px;
  font-family: 'PingHei', 'Microsoft YaHei';
}
a {
   color: #666;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}

a:hover,
a:focus {color: #DA251D;text-decoration: none;}

.center{text-align: center; margin: 0 auto;}
.f-right{float: right;}
.f-left{float: left;}
.t-right{text-align: right;}
.t-left{text-align: left;}

.post{}
.post:after, .post:before, article:after, article:before, section:after, section:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
/*.navbar-fixed-top{top:90px}*/

/* ---------------------------------------------------------------------------- */
/* ---------------------------------Header+Nav--------------------------------- */
/* ---------------------------------------------------------------------------- */
.navbar-fixed-top .nav {padding: 5px 0;}
.navbar-brand img {max-height: 100px;}
.navbar-brand  h3{margin:0;color: #fff;}
@media (max-width: 767px) {
    .navbar-brand img {
        margin-top: 5px;
        margin-left: 5px;
    }
}

header {margin-top:50px;width: 100%;background: #333;}

/* Carousel Styles */
.carousel-inner img {width: 100%;max-height: 640px;}
.carousel-indicators .active {background-color: #DA251D;}
.carousel-indicators {bottom: 40px;}
/*
.carousel-control {width: 0;}
.carousel-control.left,
.carousel-control.right {opacity: 1;filter: alpha(opacity=100);background-image: none;background-repeat: no-repeat;text-shadow: none;}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {position: absolute;top: 45%;z-index: 5;display: inline-block;}
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {left: 30px;}
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {right: 30px;}
.carousel-control.left span:hover,
.carousel-control.right span:hover {opacity: .7;filter: alpha(opacity=70);}

.carousel-indicators .active {background-color: #DA251D;}
.carousel-indicators {bottom: 40px;}

.carousel-inner > .item {margin-left:0;margin-top:0;margin-bottom:0;padding-left: 0;width: 100%;height: auto;}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {display: block;max-width: 100%;height: auto;margin-left:0;padding-left: 0;}*/

/* Carousel Header Styles */
.header-text {position: absolute;top: 33%;left: 1.8%;right: auto;width: 96.66666666666666%;color: #fff;}
.header-text h2 {font-size: 40px;padding: 10px;color: #fff;text-transform: uppercase;background-color: #DA251D;display:inline-block;color:#fff;}
.header-text h3 {color: #fff;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Content-------------------------------- */
/* ---------------------------------------------------------------------------- */

#page-content{}
.index-page {}

.archives-page {padding: 70px 0;background: #EAE4D8;}
.archives-page article img{display: inline-block;max-width: 250px;float: left;padding-right: 10px;}

.single-page {padding: 70px 0;background: #EAE4D8;}
.single-page blockquote {position: relative;padding: 30px 120px;text-align: center;font-size: 33px; margin: 20px 0;border:none;}
.single-page blockquote:before, .single-page blockquote:after {position: absolute;width: 60px;height: 60px;font-size: 120px;line-height: 1; }
.single-page blockquote:before {top: 0;left: 0;content: "\201C"; }
.single-page blockquote:after {top: 0;right: 0;content: "\201D"; }
@media only screen and (max-width: 1100px) {
 .single-page blockquote {
    font-size: 25px; } }
@media only screen and (max-width: 960px) {
 .single-page blockquote {
    padding: 30px 60px;
    font-size: 18px; }
    blockquote:before, blockquote:after {
      width: 30px;
      height: 30px;
      font-size: 60px; } }
@media only screen and (max-width: 690px) {
 .single-page blockquote {
    padding: 10px 30px;
    font-size: 16px; }
  .single-page  blockquote:before, .single-page blockquote:after {
      font-size: 30px; } }


/* ---HomePage--- */
.box-content {padding: 50px 0;}
.box-content .heading{margin-bottom: 80px;text-align:center;}
.box-content .heading h2 {height: 75px;background: #DB4437;padding: 13px 0 0 0;position: relative;width: 100%;font-size: 45px;text-decoration: none;color: #fff;	}
.box-content .heading h2:after {content: "";  border-top: 37px solid transparent;border-bottom: 37px solid transparent;border-right: 37px solid #fff;position: absolute; right: 0; top: 0;}
.box-content .heading h2:before {content: "";  border-top: 37px solid transparent;border-bottom: 37px solid transparent;border-left: 37px solid #fff;position: absolute; left: 0; top: 0;}
.box-content .heading .intro{ margin:30px 0 10px 0;}

.box-content.box-style{background: #F7F3E2; padding:110px 0;-moz-box-shadow: 0 0 10px 10px #999;-webkit-box-shadow: 0 0 10px 10px #999;box-shadow: 0px 0 10px 10px #999;}
.box-content.box-style .heading h2:after{border-right: 37px solid #F7F3E2;}
.box-content.box-style .heading h2:before{border-left: 37px solid #F7F3E2;}

.box-content.box-1 {}
.box-content.box-1 .service{
  margin: -80px 0 100px 0;text-align: center;
  /*background:rgba(251, 246, 238, 0.91);;*/
  background: url('repeat.png');
  padding: 20px;border-top:5px solid #DA251D;
  -webkit-box-shadow: 0px 56px 36px -60px #121D12;
  -moz-box-shadow: 0px 56px 36px -60px #121D12;
  -o-box-shadow: 0px 56px 36px -60px #121D12;}
.box-content.box-1 .service h3{color: #543a11;font-size:25px;text-transform:uppercase;margin-bottom: 20px}
.box-content.box-1 .service img{display: inline-block;margin-bottom:10px;}

.box-content.box-2 {}
.box-content.box-2 .box-item{margin-bottom: 30px;border: 1px solid #888;background-color: #fffeff;}
.box-content.box-2 .box-item .wrapper{padding:0 15px; }
.box-content.box-2 h3 {font-size:21px;font-weight:bold;margin:10px 0 25px 0;color: #857240;}
.box-content.box-2 p {margin:0;line-height:1;}
.box-content.box-2 .box-item div{padding: 0;}

.box-content.box-3 {padding:110px 0;}
.box-content.box-3 .wrap-img {margin-bottom:20px;}
@media(min-width:400px) {
.box-content.box-3 img{height:300px;width:300px;border-radius: 50%;display:inline-block;padding:20px;border: 3px solid #DA251D;}
}
.box-content.box-3 ul.social-buttons li a{display: block;width: 40px;height: 40px;border-radius: 100%;font-size: 20px;line-height: 40px;color: #ffffff;background-color: #222222;transition-duration: 0.4s;}
.box-content.box-3 ul.social-buttons li a:hover{background-color: #DA251D;}

.box-content.box-4{}
.box-content.box-4 div{padding:0;}
.box-content.box-4 .portfolio-img img{width:100%;margin:0;padding:0;display: block;}

.box-content.box-5 {padding:110px 0 ;}
.box-content.box-5 h3 {margin-bottom: 40px;font-size: 35px;}
.box-content.box-5 input {border: 1px solid #CF000F;border-radius: 4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
.box-content.box-5 textarea {border: 1px solid #CF000F;border-radius: 4px;-webkit-border-radius:4px;-moz-border-radius:4px;height: 240px;}

/* ----------------- */
/* ---MainContent--- */
#main-content {margin-bottom: 30px;}

article{background:#ffffff;padding: 20px 40px;margin-bottom:30px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
article:after, article:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
article{border-top: 4px solid #DA251D;}
article .info {margin: 5px 0 10px 0;}
article .info a{color: #076BA5;text-decoration: none;border-bottom: 1px solid #9CC4DB;box-shadow: inset 0 -2px 0 #9CC4DB;transition:all ease 150ms;}
article .info a:hover {color:#FFFFFF;text-shadow: none;border-bottom: 1px solid #DA251D;box-shadow: inset 0 -1.3em 0 #DA251D;}
article h2 {font-size: 30px;}

article .art-header{padding: 5px 0px;}

article .art-content {}
article .art-content a{ color: #FE9B13;font-weight: bold;}
article .art-content a:hover{ color: #000;}

article .art-content h2 {font-size: 1.7em;line-height: 2em;padding: 0px 20px;}
article .art-content ol {float: left;text-align: justify;margin: 10px 50px;font-size: 16px;list-style-type: circle;}

article .excerpt {border-bottom: 1px dashed #aaa;border-top: 1px dashed #aaa;margin: 20px 0;}
article .excerpt p{color: #888;}
article .dropcap {font-size: 70px;line-height: 70px;font-weight: 500;float: left;margin-right: 20px;}

/* ---Sidebar--- */
#sidebar{}

.widget{background: #fff;padding:10px 30px;margin:0 0px 30px 0px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;border-top: 4px solid #DA251D;}
.widget:after, .widget:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
.widget ul li{list-style:none;}
.widget .heading {border-bottom: 1px solid #333333; margin: 30px 0 20px 0;}
.widget .content {margin-top:30px;}

.widget.wid-about {}
.widget.wid-about img{max-height:350px;width: 100%;margin-bottom:30px;}

.widget.wid-tags {}
.widget.wid-tags ul a
{
float:left;
height:24px;
line-height:24px;
position:relative;
font-size:16px;
letter-spacing: 1px;
margin-bottom:12px;
margin-left:12px;
background: #DA251D;
color:#fff;
text-decoration:none;
-moz-border-radius-bottomright:4px;
-webkit-border-bottom-right-radius:4px;
border-bottom-right-radius:4px;
-moz-border-radius-topright:4px;
-webkit-border-top-right-radius:4px;
border-top-right-radius:4px;
padding:0 10px 0 12px;
}
.widget.wid-tags ul a:before
{
content:"";
float:left;
position:absolute;
top:0;
left:-12px;
width:0;
height:0;
border-color:transparent #DA251D transparent transparent;
border-style:solid;
border-width:12px 12px 12px 0;
}
.widget.wid-tags ul a:after
{
content:"";
position:absolute;
top:10px;
left:0;
float:left;
width:4px;
height:4px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
background:#fff;
-moz-box-shadow:-1px -1px 2px #DA251D;
-webkit-box-shadow:-1px -1px 2px #DA251D;
box-shadow:-1px -1px 2px #DA251D;
}
.widget.wid-tags ul a:hover {background:#555;}
.widget.wid-tags ul a:hover:before {border-color:transparent #555 transparent transparent; -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;}

.widget.wid-posts {}
.widget.wid-posts .post{}
.widget.wid-posts .post:after, .widget.wid-posts .post:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
.widget.wid-posts img{float: left; margin: 15px 10px; width: 100px;}
.widget.wid-posts .wrapper {vertical-align: middle;text-align: left;line-height: 1.4em;padding-bottom: 7px;margin-top: 22px;display: inline-block;}

.widget.wid-archive {}
.widget.wid-archive select {margin: 5px 0;height: 40px;width: 100%;padding-left: 10px;font-family: "Noto Serif",serif;font-size: 16px; background-color: #e9e9e9;color: #777777;border: none;}

.widget.wid-gallery {}
.widget.wid-gallery img{margin-bottom: 30px;max-width: 100%;}

.widget.wid-links {}
.widget.wid-links  ul {padding-left:0;}
.widget.wid-links ul li { line-height: 2.8;border-bottom: 2px solid #DDD;}

.widget.wid-related {background-color: #fff;padding: 20px;}
.widget.wid-related img{ max-width: 243px; width: 100%;}
.widget.wid-related h4{margin-top: 10px;font-size:23px;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Footer---------------------------------- */
/* ---------------------------------------------------------------------------- */
footer {text-align: center;}
footer p {color: #f8f8f8;font-size: 17px;letter-spacing:1px;}

footer .wrap-footer {padding: 60px 50px 20px 50px;background-color: #404040;}

footer .col-footer{margin-bottom: 50px;}
footer .col-footer .footer-heading{margin-bottom:30px;}
footer .col-footer .footer-heading h4 {color: #fffeff;font-size: 35px;font-weight: 500;}


footer .col-footer.footer-1{}
footer .col-footer.footer-1 img{margin: 10px 0;}

footer .col-footer.footer-2{}

footer .col-footer.footer-3 {position: relative;margin:0;padding:0; }
footer .col-footer.footer-3 ul li{list-style:none;}
footer .col-footer.footer-3 a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:16px;
	letter-spacing: 1px;
	margin-bottom:12px;
	margin-left:20px;
	background: #DA251D;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	padding:0 10px 0 12px;
}
footer .col-footer.footer-3 a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #DA251D transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;
}
footer .col-footer.footer-3 a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #DA251D;
	-webkit-box-shadow:-1px -1px 2px #DA251D;
	box-shadow:-1px -1px 2px #DA251D;
}
footer .col-footer.footer-3 a:hover {background:#555;}
footer .col-footer.footer-3 a:hover:before {border-color:transparent #555 transparent transparent; -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;}

.coppy-right{    background-color: #333;
    color: #fff;
    /* padding-top: 20px; */
    text-align: center;
    line-height: 40px;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------BackTop-------------------------------- */
/* ---------------------------------------------------------------------------- */
#backTop{
    width:35px;
    height:35px;
    padding:10px;
    border-radius:4px;
    text-indent:-9999px;
    cursor:pointer;
    z-index:999999999;
	display:none;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
}
#backTop.white{
     background:url(../images/uparr-48-b.png) no-repeat center center rgba(255,255,255,0.8);
    border:1px solid #ccc;
}
#backTop.black{
     background:url(../images/uparr-48-w.png) no-repeat center center rgba(0,0,0,0.8);
    border:1px solid #ccc;
}
#backTop.red{
     background:url(../images/uparr-48-w.png) no-repeat center center rgba(218,37,29,0.8);
    border:1px solid #fff;
}
#backTop.green{
     background:url(../images/uparr-48-b.png) no-repeat center center rgba(81,217,187,0.9);
    border:1px solid #fff;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Contact-------------------------------- */
/* ---------------------------------------------------------------------------- */
.contact h2{font-size: 34px; font-weight: 500;letter-spacing: 3px;padding-top: 20px ;text-align: center;}

#contact_form {padding:25px;}

#ff label {cursor:pointer;margin:px 0;display:block;font-weight:bold;}
#ff input {display:block;width:90%;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; color:#000;border:1px solid #DA251D;padding:10px;margin: 5px 0 25px 0;}
#ff textarea {border:1px solid #DA251D;display:block;width:90%;height:200px; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;background-color:#fff; color:#000;padding:10px;margin: 5px 0 25px 0;}

#ff .sendButton {border: none;cursor:pointer;background-color: #DA251D;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;;width:100px;color:#ffffff;}
#ff .sendButton:hover {opacity: 0.8;}

.message{text-align: center;}
.message .wrap{	padding: 50px; background: #ffffff; border: 1px solid #333333;display: inline-block;border-radius: 5px;	-webkit-border-radius: 5px; -moz-border-radius: 5px;-khtml-border-radius: 5px;}
.message .text{font-size: 35px;	margin-bottom: 30px;}

/* ---------------------------------------------------------------------------- */
/* -----------------------------------Media------------------------------------ */
/* ---------------------------------------------------------------------------- */
.media {position: relative;vertical-align: top;}
.media__image { display:block; }
.media__image img{ }
.media__body {
	background: rgba(41, 128, 185, 0.7);
	bottom: 0;
	color: white;
	font-size: 1em;
	left: 0;
	opacity: 0;
	overflow: hidden;
	padding: 35px 30px;
	position: absolute;
	text-align: center;top: 0;
	right: 0;
	-webkit-transition: 0.6s;transition: 0.6s;
}

.media__body:hover { opacity: 1; }
.media__body:after,
.media__body:before {
border: 1px solid rgba(255, 255, 255, 0.7);bottom: 1em;content: '';left: 1em;opacity: 0;position: absolute;right: 1em;top: 1em;
-webkit-transform: scale(1.5);-ms-transform: scale(1.5);transform: scale(1.5);-webkit-transition: 0.6s 0.2s;transition: 0.6s 0.2s;
}
.media__body:before {border-bottom: none;border-top: none;left: 2em;right: 2em;}
.media__body:after {border-left: none;border-right: none;bottom: 2em;top: 2em;}
.media__body:hover:after,
.media__body:hover:before {-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);opacity: 1;}
.media__body h2 { margin-top: 40px; color:#fff;}
.media__body p { margin-bottom: 15px; }

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Button---------------------------------- */
/* ---------------------------------------------------------------------------- */
.btn {
	border-radius: 2px;
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 14px;
}
a.btn:focus{outline: 0;}

.btn-1 {color: #fff;background-color: transparent;border: 2px solid #fff;margin-right: 15px;min-width: 170px;line-height: 26px;}
.btn-1:hover {color: #000;background-color: #fff;border-color: #fff;}

.btn-2 {background: #DA251D;border: 2px solid transparent;margin:20px 0 10px 0;}
.btn-2:hover {color:#333;border:2px solid #DA251D;background:transparent;}

.btn-3 {color:#333;margin-top:0px;margin-top:15px;font-weight:bold;color:#DA251D;padding:6px 0;font-size: 16px;}

.btn-4 {background: #DA251D;border: 2px solid transparent;margin:20px 0 10px 0;font-size:25px;}
.btn-4:hover {color:#333;border:2px solid #DA251D;background:transparent;}

.nav>li {
    border-bottom: 1px solid rgba(125, 125, 125, 0.1);
    /* line-height: 60px; */
}
