/*闪投列表*/
.new-sd-list{
    position: relative;
    display: block;
    width: 100%;
}
.new-sd-list section{
    width:100%;
    min-height:100px;
    padding:0;
    margin-bottom:10px;
    background:#FFF;
    overflow-x: hidden;
    -webkit-animation:fadeIn 0.7s linear 0s normal forwards;
    animation: fadeIn 0.7s linear 0s normal forwards;
}
.new-sd-list section .theme{
    position: relative;
    width: 100%;
}
.new-sd-list section .theme .default{
    position: relative;
    display: block;
    z-index: 0;
    width: 100%;
    height: auto;
}
.new-sd-list section .theme .real{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    width: auto;
}
.new-sd-list section .theme .title{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    z-index: 6;
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)),color-stop(0.4, rgba(0,0,0,.4)), to(rgba(0,0,0,.8)));
    -webkit-background-origin:padding;
    -webkit-background-clip:content;
}
.new-sd-list section .theme .title p{
    display: inline-block;
    height: 100%;
    width: 75%;
    float: left;
    margin-left: 85px;
    white-space: nowrap;
    overflow: hidden;
}
.new-sd-list section .theme .title p span{
    display: inline-block;
    color: #fff;
    line-height: 75px;
}
.new-sd-list section .theme .title p span.name{
    font-size: 18px;
    font-weight: 900;
}
.new-sd-list section .theme .title p span.slogan{
    font-size: 14px;
    margin-left: 10px;
}
.new-sd-list section .theme .title p span.location{
    font-size: 14px;
    float: right;
    margin-right: 2%;
    line-height: 78px;
    padding-left: 5px;
}
/*.new-sd-list section .theme .title p span.location:before{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(https://dn-acac.qbox.me/mobile/public/location_white.png) no-repeat center;
    background-size:14px;
}*/
.new-sd-list section .theme .logo{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 10px;
    bottom: -30px;
    border: 1px solid #000;
    border-radius: 3px;
    z-index: 7;
}
.new-sd-list section .theme .follow{
    position: absolute;
    width: 40px;
    height: 25%;
    background: #f5f5f5;
    z-index: 8;
    right: 5%;
    top: 0;
    box-shadow: 0 2px 1px 0 #ccc;
}
.new-sd-list section .theme .follow em{
    display: inline-block;
    position: absolute;
    bottom: 7px;
    left:7px;
    width: 24px;
    height: 24px;
    background: url(../img/stars_empty.png) no-repeat center;
    background-size: 24px;
}
.new-sd-list section .theme .follow.active em{
    background: url(../img/stars_solid.png) no-repeat center;
    background-size: 24px;
}
.new-sd-list section .info{
    position: relative;
    display: block;
    width: 100%;
    padding: 0 10px;
}
.new-sd-list section .info .need{
    display: inline-block;
    width: 75%;
    margin-left: 75px;
    font-size: 14px;
    line-height: 35px;
    font-weight: 500;
    color: #212121;
}
.new-sd-list section .info .need span{
    font-size: 18px;
    color: #ff3d00;
    font-weight: 500;
}
.new-sd-list section .success{
    width: 100%;
    height: 37px;
    margin-top: 10px;
    border-top: 1px dashed #000;
}
.new-sd-list section .success p{
    display: inline-block;
    line-height: 40px;
    font-size: 14px;
    width: 100%;
}
/*.new-sd-list section .success p:before{
    content: '';
    position: relative;
    display: inline-block;
    height: 10px;
    width: 10px;
    background: url(https://dn-acac.qbox.me/mobile/public/done.png) no-repeat center;
    background-size: 10px;
}*/
.new-sd-list section .success p span{
    font-size: 14px;
}

/*普通项目*/
.new-section-list {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 6px;
}

.new-section-list section {
    position: relative;
    width: 100%;
    padding: 17px 5.6% 4px;
    margin-bottom: 6px;
    background: #FFF;
    overflow: hidden;
    -webkit-animation: fadeIn 0.7s linear 0s normal forwards;
}

.new-section-list section .follow {
    position: absolute;
    width: 34px;
    height: 40px;
    background: #f5f5f5;
    z-index: 8;
    right: 5%;
    top: 0;
    box-shadow: 0 2px 1px 0 #ccc;
}

.new-section-list section .follow em.follow_star{
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 34px;
    height: 34px;
    padding: 8px;
    background: url(../img/stars_empty.png) no-repeat center;
    background-size: 18px;
}
/*.follow.active em {
    background: url(http://dn-acac.qbox.me/mobile/public/stars_solid.png) no-repeat center;
    background-size: 18px;
}*/
.new-section-list section .follow.active em.follow_star {
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 34px;
    height: 34px;
    padding: 8px;
    background: url(../img/stars_solid.png) no-repeat center;
    background-size: 18px;
}

.new-section-list section .follow em.edit {
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 34px;
    height: 34px;
    padding: 8px;
    background: url(../img/edit.png) no-repeat center;
    background-size: 18px;
}

.new-section-list section .summary {
    width: 100%;
    height: 105px;
}

.new-section-list section .summary .logo {
    float: left;
    width: 66px;
    height: 100%;
}

.new-section-list section .summary .logo img {
    width: 66px;
    height: 66px;
    border-radius: 4px;
    margin-top: 18px;
}

.new-section-list section .summary .info {
    float: right;
    width: 71.2%;
    height: 100%;
}

.new-section-list section .summary .info .name {
    font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
}

.new-section-list section .summary .info .concept {
    width: 100%;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new-section-list section .summary .info div {
    display: inline-block;
    border-top: 1px dashed;
    margin-top: 5px;
    width: 100%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
}

.new-section-list section .summary .info div p {
    display: inline-block;
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #7B7A7A;
    text-overflow: ellipsis;
}

.new-section-list section .summary .info div .need span {
    color: #ff3d00;
    font-weight: 500;
    font-size: 16px;
}

.new-section-list section .summary .info div .location {
    float: right;
    margin-right: 2%;
    margin-top: 1px;
    padding-left: 5px;
}

/*.new-section-list section .summary .info div .location:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(http://dn-acac.qbox.me/mobile/homepage/location.png) no-repeat center;
    background-size: 14px;
}
*/
.new-section-list section .success {
    width: 100%;
    height: 37px;
}

.new-section-list section .success p {
    display: inline-block;
    line-height: 40px;
    font-size: 14px;
    width: 100%;
}

/*.new-section-list section .success p:before {
    content: '';
    position: relative;
    display: inline-block;
    height: 10px;
    width: 10px;
    background: url(../img/location.png) no-repeat center;
    background-size: 10px;
}*/

.new-section-list section .success p span {
    font-size: 14px;
}

.new-section-list .summary .item-state {
    display: inline-block;
    height: 12px;
    margin-top: 10px;
}
/*媒体查询*/
@media only screen and (max-width: 359px) {
    .new-sd-list section .theme .title p span.location,
    .new-sd-list section .theme .title p span.slogan,
    .new-sd-list section .info .need span,
    .new-sd-list section .info .need{
        font-size: 12px;
    }
    .new-sd-list section .theme .title p span.name,
    .new-sd-list section .info .need span.num{
        font-size: 14px;
    }
}

.project-list section .action {
    border-top: 1px solid #F5F5F5;
}
.project-list section .action p{
    position: relative;
    display: inline-block;
    width: 33%;
    height: 39px;
    padding: 8px 0;
    float: left;
    text-align: center;
    border-radius: 3px;
}
.project-list section .action.double p{
    width: 50%;
}
.project-list section .action p:active{
    border: 1px solid #f5f5f5;
}
.project-list section .action p span{
    display: inline-block;
    font-size: 12px;
    line-height: 25px;
    width: 100%;
}
/*.project-list section .action a.follow em{
    display: inline-block;
    width: 10px;
    height: 12px;
    background: url("http://dn-acac.qbox.me/mobile/listfavourite_.png") no-repeat;
    background-position: 0 2px;
    background-size: 10px 20px;
}
.project-list section .action a.follow.active em{
    background: url("http://dn-acac.qbox.me/mobile/listfavourite_.png") no-repeat;
    background-position: 0 -10px;
    background-size: 10px 20px;
    margin-bottom: -2px;
}
.project-list section .action a.invest em{
    display: inline-block;
    width: 11px;
    height: 12px;
    background: url("http://dn-acac.qbox.me/mobile/listcredit-card.png") no-repeat;
    background-size: 11px 11px;
    margin-bottom: -2px;
}*/
.project-list section .action p.invest span{
    border-left: 1px solid #f5f5f5;
}
.project-list section .action p.invest.active{
    border: 1px solid #f5f5f5;
}
/*.project-list section .action a.invest.active:after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #e0e0e0;
    top: 32px;
    left: 50%;
}*/
.project-list section .action p.submit span{
    border-left: 1px solid #f5f5f5;
}
.project-list section .action p.submit em{
    display: inline-block;
    width: 11px;
    height: 12px;
    background: url("http://dn-acac.qbox.me/mobile/listcopy.png") no-repeat;
    background-size: 11px 11px;
    margin-bottom: -2px;
}

.tab{
    width: 100%;
    text-align: center;
    padding: 8px 0 8px;
    border-top: 1px solid #f5f5f5;
        background-color: white;
}
.tab a{
    display: inline-block;
    font-size: 16px;
    padding: 3px 0;
    font-weight: 500;
}
.tab a.left{
    padding-left: 2px;
    margin-right: 15px;
    border-bottom: 2px solid #fff;
}
.tab a.left.active{
    padding-left: 2px;
    border-bottom: 2px solid #000;
}
.tab a.right{
    padding-left: 1px;
    margin-left: 15px;
    border-bottom: 2px solid #fff;
}
.tab a.right.active{
    padding-left: 1px;
    border-bottom: 2px solid #000;
}

/*头部reset*/
.newhead{
    position: absolute;
    top: 0;
    background: rgba(255,255,255,.01);
}
.newhead .logo {
    background:url(../img/header_white.png) no-repeat left center;
    background-size:auto 18px;
}

.newhead .options span {
    background:url(../img/header_white.png) no-repeat right center;
    background-size:auto 18px;
}
.newhead .account span{
    background:url(../img/wap_user_h.svg) no-repeat 50% 80%;
    background-size:auto 18px;
}
.newhead .account.active span{
    width: 24px;
    height: 24px;
    background-size:auto 24px !important;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50% 50%;
}
.newhead .hidden-menu li {
    color:#FC5830;
}

.newhead-container
{
    position: relative;
    background: #ff3d00;
    height: 180px;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    padding-top: 60px;
}

.newhead-container .title
{
    line-height: 30px;
    text-align: center
}

.newhead-container .title h1
{
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.newhead-container .title h1 small
{
    font-size: 50%;
}

/**/
.get-more{
    width: 100%;
    height: 100px;
    overflow: hidden;
    height: 40px;
    border-top:1px solid #FFF;
}
 .get-more a{
    position: relative;
    display: inline-block;
    width: 24.9%;
    height: 39px;
    padding: 8px 0;
    float: left;
    text-align: center;
    background-color: #E0E0E0;
}
 .get-more.double a{
    width: 50%;
}
 .get-more a:active{
    border: 1px solid #f5f5f5;
}
 .get-more a span{
    display: inline-block;
    font-size: 13px;
    line-height: 25px;
    width: 100%;
    border-right: 1px solid #FFF;
}
 .get-more a.follow em{
    display: inline-block;
    width: 10px;
    height: 12px;
    background: url("http://dn-acac.qbox.me/mobile/listfavourite_.png") no-repeat;
    background-position: 0 2px;
    background-size: 10px 20px;
}
 .get-more a.follow.active em{
    background: url("http://dn-acac.qbox.me/mobile/listfavourite_.png") no-repeat;
    background-position: 0 -10px;
    background-size: 10px 20px;
    margin-bottom: -2px;
}
 .get-more a.invest em{
    display: inline-block;
    width: 11px;
    height: 12px;
    background: url("http://dn-acac.qbox.me/mobile/listcredit-card.png") no-repeat;
    background-size: 11px 11px;
    margin-bottom: -2px;
}
 .get-more a.invest span{
    /*border-left: 1px solid #f5f5f5;*/
}
 .get-more a.invest.active{
    border: 1px solid #f5f5f5;
}
 .get-more a.invest.active:after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #e0e0e0;
    top: 32px;
    left: 50%;
}
 .get-more a.submit span{
    /*border-left: 1px solid #f5f5f5;*/
}
 .get-more a.submit em{
    display: inline-block;
    width: 11px;
    height: 12px;
    background: url("http://dn-acac.qbox.me/mobile/listcopy.png") no-repeat;
    background-size: 11px 11px;
    margin-bottom: -2px;
}

 .get-more .third
{
    border:none;
}
a.fixed
{
    background-color:rgb(255, 61, 0);
    
}

a.fixed span.fixed
{
    color:white;
}
