.deliver
{
	font-size: 10px;
}

.detail_title h2
{
  font-size: 18px;
}

.detail_title h2 small
{
  font-size: 60%;
  line-height: 20px;
}

.food_des_detail_price_dash
{
	text-decoration: line-through;
	font-weight: normal;
	font-size: 14px;
  color: grey;
}

.material img
{
  height: 0.8rem;
}

.material h4
{
  font-size: 0.9rem;
}


.add2cart
{
  /* width: 90%; */
  height: 40px;
  line-height: 40px;
  /* margin-left: 5%; */
  font-size: 18px;
  background-color: #ff5000;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.material {
  border-bottom: 1px solid #d2d3d3;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
}

.prepare {
  border-bottom: 1px solid #d2d3d3;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  padding: 0 15px 0 15px;
}

.prepare .tips {
  float: right;
  text-decoration: underline;
}

.prepare .item {
}

.content
{
	padding:15px ;
	border-bottom: 1px solid #d2d3d3;
}


.text{
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
  
.notice
{
	text-align:center;
	height: 60px;
}

.notice_title
{
	font-size: 20px;
	line-height:60px;
}

.notice_text
{
	font-size: 16px;
	color: rgb(135, 211, 54);
	line-height:60px;
}

.step
{
	width: 49.9%;
  padding: 5px;
  display: inline-block;
  float: left;
}

.con
{
	background-color: #EAEAEA;
	font-size: 12px;
	padding: 5px;
}

.recipe
{
	overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
}

.words
{
  height: 180px;
  text-align: right;
  padding: 20px;
	background-size: 100% 100%;
	background-image: url('../img/detail_slogan_bg.jpg');
  line-height: 1.5em;
}

.more
{
	margin-top:20px;
	text-decoration:underline;
}

.line-height2
{
  line-height: 2em;
}

