/*******************
    branding head
  *******************/
html{
    height: 100%;
}body{
    min-height: 100%;
}
.bk_new{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    z-index: 10;
    display: none;
}
.fadeTransIn{
    -webkit-animation:fadeTransIn 0.3s linear 0s normal forwards;
    animation: fadeTransIn 0.3s linear 0s normal forwards;
}
.fadeTransOut{
    -webkit-animation:fadeTransOut 0.2s linear 0s normal forwards;
    animation: fadeTransOut 0.2s linear 0s normal forwards;
}
.details {
  background:#F5F5F5;
}
.loading-container {
    display: none;
    position: absolute;
    width:100%;
    height: 100%;
    text-align:center;
    background: rgba(255,255,255,0.9);
    z-index: 9;
}

.loading-container .loading {
    width: 30px;
    height: 30px;
    margin: 50% auto;
    background:url(http://dn-xswe.qbox.me/fOhvRtoHnzQkvAGNjuRANg) no-repeat;
    background-size:30px;
}
.not-found{
    display: none;
    position: absolute;
    width:100%;
    height: 100%;
    text-align:center;
    background: #fff;
    z-index: 9;
}
.not-found div{
    width: 80%;
    height: 250px;
    margin: 5% auto;
}
.not-found div img{
    display: inline-block;
    width: 100%;
    padding: 15% 25% 25px;
}
.not-found div h3{
    color: #7dbbcb;
    font-size: 24px;
    line-height: 35px;
    display: inline-block;
    text-align: center;
}
.not-found div p{
    color: #7dbbcb;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
}
.position-occupy{
    position: absolute;
    width: 100%;
    height: 120%;
    top: 0;
    z-index: -10;
}
.list-container{
    width: 100%;
    position: relative;
}
.title-header {
  width:100%;
  height:48px;
  background:#EEE;
}

.title-header h1 {
  font-size:20px;
  line-height:50px;
  padding:0 5.6%;
}
.section-list {
  display:inline-block;
  width:100%;
  height: 100%;
  margin-top: 6px;
}

.section-list section {
  position: relative;
  width:100%;
  min-height:100px;
  padding:17px 5.6% 4px;
  margin-bottom:6px;
  background:#FFF;
  overflow: hidden;
  -webkit-animation:fadeIn 0.7s linear 0s normal forwards;
  animation: fadeIn 0.7s linear 0s normal forwards;
}

.section-list .logo {
  display:block;
  width:66px;
  height:66px;
  float:left;
}

.section-list .logo img {
  width:66px;
  height:66px;
  border-radius:4px;
}

.section-list .summary {
  float:right;
  width:71.2%;
  height:64px;
}

.section-list .summary h3 {
  font-size:24px;
  line-height:24px;
  margin-top: 10px;
}

.section-list .summary p {
  width:100%;
  line-height:30px;
  white-space:nowrap;
  overflow:hidden;
  -o-text-overflow:ellipsis;
  -ms-text-overflow:ellipsis;
  text-overflow:ellipsis;
}

.section-list .summary .item-state {
  display:inline-block;
  height:12px;
  margin-top:10px;
}

.section-list .item-state li {
  position:relative;
  min-width:46px;
  line-height:12px;
  padding-left:12px;
}

.section-list .item-state li .vector-icons {
  position:absolute;
  color:#C7D1D6;
  font-size:12px;
  margin-top:-1px;
  margin-left:-12px;
}

.section-list .item-state li .vector-icons.chat {
  margin-top:0;
}

.section-list .item-state li span {
  color:#C7D1D6;
  font-size:12px;
  margin-left:5px;
}
.section-list .item-state li.active i{
    color: #000;
}
.section-list .item-state li.active span{
    color: #000;
}
/*闪投列表*/
.sd-list{
    display:block;
    width:100%;
    min-height:736px;
}
.sd-list section{
    width:100%;
    min-height:100px;
    padding:0;
    margin-bottom:10px;
    background:#FFF;
    -webkit-animation:fadeIn 0.7s linear 0s normal forwards;
    animation: fadeIn 0.7s linear 0s normal forwards;
}
.sd-list section .info{
    width: 100%;
    position: relative;
    display: inline-block;
}
.sd-list section .info .occupy{
    position: relative;
    width: 100%;
}
.sd-list section .info .theme{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: auto;
    min-height: 180px;
    background-size:100% 100%;
}
.sd-list section .info .slogan{
    position: absolute;
    width: 100%;
    height: 45px;
    background: rgba(0,0,0,0.8);
    bottom: 0;
    z-index: 5;
}
.sd-list section .info .slogan .logo{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 10px;
    top: -30px;
    border: 1px solid #000;
    border-radius: 3px;
}
.sd-list section .info .slogan p{
    display: inline-block;
    float: left;
    margin-left: 80px;
    color: #fff;
    line-height: 45px;
    font-size: 14px;
    width: 75%;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sd-list section .info .slogan p span{
    display: inline-block;
    margin-left: 0;
    line-height: 45px;
    color: #fff;
}
.sd-list section .info .slogan p span.name{
    font-size: 16px;
    font-weight: bold;
}
.sd-list section .info .slogan p span.concept{
    font-size: 13px;
    margin-left: 1em;
}
.sd-list section .new-progress-container{
    padding:14px 3%;
}
.sd-list section .success{
    width: 100%;
    height: 40px;
    padding: 0 14px;
}
.sd-list section .success p{
    display: inline-block;
    line-height: 45px;
    font-size: 14px;
    width: 100%;
}
.sd-list section .success p span{
    font-size: 14px;
    font-weight: bold;
}
/*底部翻页*/
.page-turn {
  background: #eee;
  opacity: .9;
  width:100%;
  height:64px;
  text-align:center;
  padding:16px 18.6% 0;
  position: fixed;
  bottom: 0;
  z-index: 9;
}
.page-turn-occupy{
    height: 64px;
    width: 100%;
    background: #fff;
}

.page-turn p {
  display:inline-block;
  line-height:28px;
}

.page-turn .btn {
  float:left;
  width:85px;
  height:26px;
  font-size:16px;
  padding-top:3px;
  border-radius:4px;
  border:none;
  background:#FFF;
}

.page-turn .btn:active{
  background: #666;
  color: #fff;
}

.page-turn .btn.next-page {
  float:right;
}
/*列表过滤*/
.filter-occupy{
    width: 100%;
    height: 40px;
}
.filter{
    width: 100%;
    height: 40px;
    background: #f5f5f5;
}
.filter div{
    height: 100%;
    width: 100%;
    min-width: 150px;
    text-align: center;
    position: relative;
}
.filter div a{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 24%;
    height: 100%;
    padding: 5px 0;
}
.filter div a span{
    min-width: 80px;
    font-size: 14px;
    line-height: 22px;
    padding: 6px 0;
    text-align: right;
    display: inline-block;
}

.filter div a span:after{
    content: '';
    float: right;
    width: 25px;
    height: 20px;
    background: url("http://dn-acac.qbox.me/arrow_down.png") no-repeat 50% 50%;
    background-size: 25px 25px;
}
.filter div a.active span,
.filter div a:active span{
    color: #ef3d00;
}
.filter div a.active span:after,
.filter div a:active span:after{
    background: url("http://dn-acac.qbox.me/arrow_down_o.png") no-repeat 50% 50%;
    background-size: 25px 25px;
    transform:rotateX(180deg);
    -webkit-transform:rotateX(180deg);
}
.filter ul{
    position: absolute;
    display: none;
    width: 100%;
    top: 40px;
    left: 0;
    z-index: 2;
    background: rgba(245,245,245,1);
    max-height: 360px;
    overflow-y: scroll;
    opacity: 0;
    -webkit-animation:fadeIn 0.4s linear 0s normal forwards;
     animation: fadeIn 0.4s linear 0s normal forwards;
}
.filter ul::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
}
.filter ul::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.filter ul li{
    position: relative;
    display: inline-block;
    width: 100%;
    line-height:45px ;
    height: 45px;
    padding: 0 7%;
    border-bottom: 1px solid #e0e0f0;
}
.filter ul li span{
    display: inline-block;
    text-align: left;
    float: left;
    font-size: 14px;
    line-height:45px ;
    width: 100%;
}
.filter ul li.active{
    color:#ef3d00;
}
.filter ul li.active :after{
    content: '';
    height: 45px;
    width: 45px;
    margin-right:-10px;
    display: inline-block;
    float: right;
    background: url("http://dn-acac.qbox.me/icon_selection.png") no-repeat 50% 50%;
    background-size: 15px 15px;
}
.filter ul li:active{
    background: #ccc;
}

.filter ul li:active span{
     color: #fff;
 }
.filter.top{
    position: fixed;
    top: 0;
    z-index: 30;
    -webkit-animation:slipdown 0.4s linear 0s normal forwards;
    animation: slipdown 0.4s linear 0s normal forwards;
}
.filter.top div{
    box-shadow:#666 0 0 5px 1px;
    border-bottom: 2px solid #333;
}
.filter ul.active{
    display: inline-block;
 }
/*******************
       Keyframes
  ********************/

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translateZ(-1px);
  }

  100% {
    -webkit-transform: rotate(360deg) translateZ(-1px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translateZ(-1px);
  }

  100% {
    transform: rotate(360deg) translateZ(-1px);
  }
}

/*列表fadein keyframes*/
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/*渐透*/
@-webkit-keyframes fadeTransIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes fadeTransIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}
@-webkit-keyframes fadeTransOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes fadeTransOut {
    0% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
    }
}
/*筛选栏滑下*/

@-webkit-keyframes slipdown {
    0% {
        top: -40px;
    }

    100% {
        top: 0;
    }
}

@keyframes slipdown {
    0% {
        top: -40px;
    }

    100% {
        top: 0;
    }
}
@media only screen and (max-width: 359px) {
    .page-turn {
        padding-left:12.4%;
        padding-right:12.4%;
    }
}

@media only screen and (max-width: 315px) {
    .page-turn {
        padding-left:5.4%;
        padding-right:5.4%;
    }
}