/* CSS Document */
/* Reset */
*{margin:0;padding:0;outline:none;-webkit-font-smoothing: antialiased;}*:not(input,textarea){-webkit-touch-callout:inherit;-webkit-user-select:auto;}body{width:100%;font-size:16px;-webkit-touch-callout:inherit;-webkit-user-select:auto;}a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}a:hover{text-decoration:none;}button,input,select,textarea{font-size:100%;margin:0;padding:0;outline:none;}textarea,input{resize:none;outline:none;}textarea{resize:none;-webkit-appearance:none;}ul,ol,li{list-style:none;}em{font-style:normal;}h3,h4{ font-weight:normal;}
.btn:active,.menuAlert a:active,nav a:active{ transform:scale(.9); -webkit-transform:scale(.9);}
a{-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}
/* Globle */
body,input,textarea,select{font-family:Microsoft YaHei, Arial, Helvetica, sans-serif;}
.hide{ display:none;}
.ellipsis{ overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.duration a,.animate,.imgViewIndex dd,menu{
	transition:all .6s ease;
	-moz-transition:all .6s ease;
	-webkit-transition:all .6s ease;
	-o-transition:all .6s ease;
	}
/* Base */
@media screen and (max-width: 720px){
	html{ font-size:100px;}
	}
@media screen and (max-width: 414px){
	html{ font-size:57.5px;}
	}
@media screen and (max-width: 375px){
	html{ font-size:52px;}
	}
@media screen and (max-width: 320px){
	html{ font-size:44.44px;}
	}
.imgViewCont{ position:relative; width:100%; overflow:hidden;}
.imgViewCont li{ display:none; float:left; margin-right:-100%; width:100%;}
.imgViewCont li.current,.imgViewCont li:nth-child(1){ display:block;}
.imgViewCont img{ width:100%;}
/* Globle*/
header{ position:fixed; width:100%; height:50px; background:#FFF; z-index:5; box-shadow:0 2px 4px rgba(0,0,0,.5);}
h1{ height:100%; width:50%; margin:0 auto;}
h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/logo.png) no-repeat center;
    background-size: auto 32px;
}
.menuBtn{     position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;
    padding: 10px;
    /* background: url(../img/menuBtn.png) no-repeat center; */
    /* background-size: .4rem auto; */}


.loginBtn{ position:absolute; right:0; top:0; width:1.07rem; height:100%; background:url(../img/loginBtn.png) no-repeat center; background-size:.47rem auto;}
.headerBlock{ height: 50px}
.banner{ position:relative;  overflow:hidden;}
.banner img{ display:block; width:100%;}
.banner hgroup{ position:absolute; left:0; top:30%; transform:translateY(-50%); -webkit-transform:translateY(-50%); width:100%; text-align:center; color:#FFF;}
.banner h3{ font-size:20px;}
.banner h4{ font-size:.12px; }
@-webkit-keyframes fromScale105 {
	from{ -webkit-transform: scale3d(1.05,1.05,1.05);}
}
@keyframes fromScale105 {
	from{ transform: scale3d(1.05,1.05,1.05);}
}
.fromScale105,.banner img{
	animation: fromScale105 5s ease both;
	-webkit-animation: fromScale105 5s ease both;
}
menu{ position:fixed; left:0; top:0; height:100%; width:160px; background:#2a2a2a; border-right:4px solid #01399e; transform:translateX(-100%); -webkit-transform:translateX(-100%); z-index:4;}
menu div{ padding-top:50px; border-bottom:1px solid #1b1b1b;}
menu a{     display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    color: #FFF;
    font-size: 14px;
    border-bottom: 1px solid #444;
    border-top: 1px solid #1b1b1b;}
menu.open{ transform:translateX(0); -webkit-transform:translateX(0);}
.box1{ position:relative; display:block;}
.box1 img{ display:block; width:100%;}
.box1 div{ position:absolute; left:.85rem; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); color:#01399e;}
.box1 h3{     font-size: 14px;
    font-family: "Arial Black", sans-serif;
    text-transform: uppercase;
    margin-bottom: 1px;
    /* padding-bottom: 0px; */
    margin-top: 0;}
.box1 abbr{     padding-right: 20px;
    font-size: 14px;
    background: url(../img/icon1.png) no-repeat right center;
    background-size: auto 12px;}

nav a {
    display: block;
    width: 33.33%;
    float: left;
    font-size: 14px;
    color: #1e1e1e;
    padding-top: 54px;
    height: 80px;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

footer {
  /* padding-top: .38rem; */
  height: 28px;
  background: #222935;
  text-align: center;
  width: 100%;
  text-align: center;
  /* padding: 10px; */
  line-height: 28px;
}
footer h4{ display:inline-block; margin-bottom:.1rem; padding-left:.5rem; background:url(../img/icon8.png) no-repeat 0 center; background-size:.38rem auto; color:#FFF;}
footer p{ font-size:.24rem; color:#747a85;}
footer a{ color:#747a85;}
.chunkin{ padding:0 .3rem;}
.chunkin>a,.chunkin div{ display:block; padding:.42rem 0 .3rem; border-bottom:1px solid #d8d8d8;}
.chunkin a{ color:#838383;}
.chunkin img{ width:100%;}
.chunkin h3{ font-size:.3rem; color:#1e1e1e; line-height:2;}
.chunkin p,.chunkin li{ line-height:1.6; font-size:.24rem;}
.chunkin li{ padding-left:.14rem; background:url(../img/icon9.png) no-repeat 0 center; background-size:auto .12rem; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.searchBox{ padding:.42rem .3rem .32rem;}
.searchBox h3{ font-size:.24rem; color:#1e1e1e; font-weight:bold; text-align:center;}
.searchBox h4{ font-size:.48rem; color:#01399e; text-align:center;}
.searchBox{ position:relative; overflow:hidden;}
.searchBox input{ height:.5rem; border:none; font-size:.24rem; vertical-align:middle;}
.searchBox input[type="text"]{ float:left; padding:0 .2rem; line-height:.5rem; width:5.3rem; background:#e5e5e5; color:#838383;}
.searchBox input[type="submit"]{ float:right; width:.88rem; background:#01399e; color:#FFF;}
.inav{ overflow:auto; background:#01399e;}
.inav div{ position:relative; margin:0 auto; overflow:hidden;}
.inav a{ display:inline-block; width:25vw; line-height:.64rem; font-size:.24rem; color:#2f3338; text-align:center; border:1px solid #d5d5d5; border-left:0; background:#FFF; box-sizing:border-box; -webkit-box-sizing:border-box;}
.inav a.hover{ background:#01399e; border-color:#01399e; color:#FFF;}
.content {
    padding: 10px 15px 40px 15px;
}
.comTitle{ margin-bottom:.28rem; color:#1e1e1e;}
.comTitle h3{ font-size:.36rem;}
.comTitle h4{ text-transform:uppercase; font-size:12px;}
.contact{ margin-bottom:.3rem;}
.contact li{ padding-left:.42rem; line-height:.73rem; font-size:.24rem; color:#6f6f6f; border-bottom:1px solid #d4d4d4;}
.contact li:nth-child(1){ background:url(../img/icon10.png) no-repeat 1px center; background-size:.28rem auto;}
.contact li:nth-child(2){ background:url(../img/icon11.png) no-repeat 4px center; background-size:.17rem auto;}
.contact li:nth-child(3){ background:url(../img/icon12.png) no-repeat 0 center; background-size:.31rem auto;}
.contact li:nth-child(4){ background:url(../img/icon13.png) no-repeat 1px center; background-size:.29rem auto;}
.mapBox{ position:relative; height:4.44rem; overflow:hidden;}
.mapBox img{ width:100%;}
.news li{  height: 70px;  border-bottom: 1px solid rgba(0, 5, 43, 0.03);}
.news a {
    display: block;
    position: relative;
    padding: 10px 0 10px 80px;
}
.news h4,.firstNews h4{ font-size:12px; margin-top:0; margin-bottom:0;color:#1e1e1e; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.news p,.firstNews p,.firstNews span{ font-size:12px; color:#838383; margin: 0; line-height: 16px; margin-top: 10px}
.news div {
    position: absolute;
    left: 10px;
    top: 10px;
    /* padding-top: .16rem; */
    width: 50px;
    height: 50px;
    text-align: center;
    background: #e7e7e7;
}
/*.pages{ margin-top:.3rem; text-align:center; background:#e9e9e9;}
.pages a{ display:inline-block; width:30%; font-size:.24rem; color:#000; height:.56rem; line-height:.56rem;}*/
.firstNews {
    position: relative;
    padding: 10px 0 10px 145px;
    height: 100px;
    border-bottom: 1px solid rgba(0, 5, 43, 0.03);
}
.firstNews img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 120px;
    height: 80px;
}

.firstNews h4{ margin-bottom:.1rem;}
.firstNews span {
    position: absolute;
    left: 145px;
    bottom: 10px;
}
.newsTitel{ margin-bottom:20px; text-align:center;}
.newsTitel h4{     margin-bottom: 5px;
    font-size: 16px;
    color: #000;}
.newsTitel p{ font-size:.24rem; color:#777;}
.txtEdit{ padding-bottom:.3rem;}
.txtEdit p,.newsOther a,.txtEdit li{ font-size:13px; color:#919191;}
.txtEdit img{ margin:.34rem 0; width:100%; height:auto;}
.newsOther{ border-top:1px solid #d5d5d5; padding-top:.4rem;}
.newsOther a{ display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.alert{ display:none; position:fixed; left:0; top:0; width:100%; height:100%; z-index:9; background:rgba(0,0,0,.7);}
.loginBox{ position:absolute; left:50%; top:50%; margin:-2.55rem 0 0 -2.52rem; width:5.04rem; height:5.1rem; background:#FFF;}
.loginBox h3{ position:relative; padding:0 .4rem; height:.84rem; line-height:.84rem; font-size:.36rem; font-weight:bold; color:#01399e; background:#e9edf4;}
.loginBox h3 a{ position:absolute; right:.4rem; top:.26rem; display:block; width:.31rem; height:.32rem; background:url(../img/close1.png) no-repeat center; background-size:100% auto;}
.loginBox form{ padding:0 .4rem;}
.loginBox h4{ font-size:.24rem; line-height:.76rem; color:#3b393a;}
.loginBox input[type="text"],.loginBox input[type="password"]{ display:block; width:3.8rem; padding:0 .2rem; height:.52rem; line-height:.52rem; background:#FFF; border:1px solid #cdcdcd; color:#666;}
.loginBox div{ padding:.16rem 0; font-size:.24rem; color:#b4b4b4;}
.loginBox a{ float:right; color:#b4b4b4;}
.loginBox input[type="submit"]{ display:block; width:4.22rem; height:.54rem; font-size:.3rem; color:#FFF; background:#01399e; border:none;}
.img6{ margin-bottom:.38rem; width:100%;}
.tips{ margin-bottom:.68rem; text-align:center; color:#333; font-size:.24rem;}
.form1 div{ position:relative; padding:.1rem 0; overflow:hidden;}
.form1 h4{ float:left; width:1.63rem; height:.54rem; line-height:.54rem; font-size:.24rem; text-align:right;}
.form1 h4 span{ color:#F00;}
.form1 input[type="text"],.form1 textarea{ float:left; padding:0 .2rem; height:.52rem; line-height:.52rem; width:4.5rem; border:1px solid #cdcdcd; color:#666; font-size:.24rem;}
.form1 textarea{ height:1.56rem;}
.form1 input[type="submit"]{ width:1.4rem; height:.48rem; color:#FFF; background:#fa7205; border-radius:5px; border:none; font-size:.24rem;}
.formTitle{ margin-bottom:.32rem; font-size:.36rem; line-height:.36rem; color:#333; border-left:4px solid #01399e; padding-left:.1rem;}
.addJob{ display:inline-block; margin-left:.22rem; width:1.6rem; text-align:center; height:.48rem; line-height:.48rem; color:#FFF; background:#01399e; border-radius:5px; font-size:.24rem;}
.form1 select{ float:left; padding:0 .2rem; height:.54rem; width:4.9rem; border:1px solid #cdcdcd; color:#666; font-size:.24rem;}
.jobList li{ border-bottom:1px solid #e9e9e9;}
.jobList a{ display:block;  padding:.4rem 0 .2rem;}
.jobList h3{ width:5.5rem; font-size:.3rem; color:#01399e; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.jobList h4{ width:5.2rem; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.jobList h4,.jobList div span{ font-size:.24rem; color:#838383;}
.jobList i{ font-style:normal; font-size:.26rem; color:#01399e;}
.jobList div,.jobList p{ position:relative;}
.jobList span,.jobList i{ position:absolute; right:0; top:0;}
.jobList abbr{ margin:0 .1rem; color:#FFF; font-size:.24rem; background:#01399e;}
.selectForm{ position:relative;  padding-left:1px; overflow:hidden;}
.selectForm select{ float:left; width:25%; margin-left:-1px;}
.jobTips{ margin-top:.3rem; border-top:1px solid #dbdbdb; padding-top:.5rem;}
.jobTitle{ margin-bottom:.2rem; padding-bottom:.2rem; border-bottom:1px solid #dbdbdb;}
.jobTitle h4{ margin-bottom:.1rem; font-size:.36rem; color:#1e1e1e;}
.jobTitle p{ font-size:.24rem; color:#838383;}
.jobTitle span{ margin-right:2em;}
.jobInfo{ margin-bottom:.4rem; padding-bottom:.5rem; border-bottom:1px solid #dbdbdb;}
.jobInfo table{ line-height:2; font-size:.24rem; color:#1e1e1e;}
.jobInfo table span{ color:#01399e;}
.aJob{ display:block; margin-top:.3rem; width:1.64rem; height:.54rem; line-height:.54rem; text-align:center; color:#FFF; font-size:.24rem; background:#01399e; border-radius:4px;}
.apJob{ position:absolute; left:50%; top:50%; width:5.04rem; height:4.25rem; margin:-2.12rem 0 0 -2.52rem; background:#FFF;}
.apJob h3{ position:relative; padding:0 .34rem; height:.84rem; line-height:.84rem; font-size:.36rem; color:#FFF; background:#02399e;}
.apJob h3 a{ display:block; position:absolute; right:.37rem; top:.26rem; width:.31rem; height:.32rem; background:url(../img/close2.png) no-repeat center; background-size:100% auto;}
.apJob div{ padding-top:.6rem; line-height:1.6; font-size:.24rem; color:#0e0e0e; text-align:center;}
.apJob strong{ color:#01399e;}
.apJob a{ color:#fa7205; text-decoration:underline;}
.apJob a.apdes{ display:block; margin:.2rem auto; width:1.54rem; height:.48rem; line-height:.48rem; color:#FFF; background:#fa7205; border-radius:4px; text-decoration:none;}
.myInfo h4{ position:relative; margin-bottom:.4rem; padding-left:.18rem; height:.56rem; line-height:.56rem; font-size:.3rem; color:#1b1b1b; border-bottom:1px solid #cdcdcd;}
.myInfo h4:before{ content:" "; position:absolute; left:0; top:50%; margin-top:-.15rem; display:block; height:.3rem; width:3px; background:#01399e;}
.myInfo table{ font-size:.24rem; color:#1b1b1b;}
.myInfo th{ line-height:.74rem; text-align:right; font-weight:normal; vertical-align:top;}
.myInfo td{ padding:.1rem 0;}
.text1,.select1,.myInfo textarea,.date2{ padding:0 .1rem; height:.52rem; line-height:.52rem; width:4.8rem; font-size:.24rem; color:#1b1b1b;}
.select1{ height:.56rem; line-height:.56rem; width:5.1rem;}
.myInfo textarea{ height:1.56rem;}
.block40{ height:.4rem;}
.date2{ width:1.9rem;}
.addExp,.save{ display:block; width:1.6rem; height:.48rem; line-height:.48rem; text-align:center; color:#FFF; background:#01399e; border-radius:4px;}
.save{ width:1.4; background:#fa7205;}




.ulogin {position:absolute; right:0; top:0; width:1.07rem; height:100%; line-height:0.9rem;  color:#333}
.txtEdit img { width:100% !important;}

.pages { padding:10px;}
.pages a{ display:block; float:left; margin-right:9px; width:38px; height:31px; line-height:31px; background:#f5f5f5; text-align:center; color:#333; font-size:14px; border:1px solid #DDD;}
.pages .next{ width:69px;}
.pages a.hover,.pages a:hover{ color:#FFF; background:#01399e; border-color:#01399e;}

.gap40{height: 40px; overflow: hidden;}
