body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u0 {
  position:absolute;
  left:72px;
  top:85px;
  width:50px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1 {
  position:absolute;
  left:2px;
  top:31px;
  width:46px;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u2 {
  position:absolute;
  left:72px;
  top:362px;
  width:50px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u4 {
  position:absolute;
  left:72px;
  top:593px;
  width:50px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:176px;
  top:40px;
  width:125px;
  height:170px;
}
#u7 {
  position:absolute;
  left:2px;
  top:77px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:189px;
  top:59px;
  width:100px;
  height:72px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8_input {
  position:absolute;
  left:83px;
  top:-2px;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:318px;
  top:40px;
  width:125px;
  height:170px;
}
#u11 {
  position:absolute;
  left:2px;
  top:77px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:176px;
  top:185px;
  width:125px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13 {
  position:absolute;
  left:331px;
  top:59px;
  width:99px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:822px;
  top:277px;
  width:318px;
  height:161px;
}
#u17 {
  position:absolute;
  left:2px;
  top:72px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:835px;
  top:282px;
  width:316px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  position:absolute;
  left:1054px;
  top:302px;
  width:65px;
  height:23px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23 {
  position:absolute;
  left:822px;
  top:361px;
  width:318px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24 {
  position:absolute;
  left:2px;
  top:9px;
  width:314px;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u25 {
  position:absolute;
  left:492px;
  top:109px;
  width:112px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u26 {
  position:absolute;
  left:10px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:318px;
  top:539px;
  width:125px;
  height:186px;
}
#u28 {
  position:absolute;
  left:2px;
  top:85px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29 {
  position:absolute;
  left:332px;
  top:549px;
  width:113px;
  height:122px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:318px;
  top:675px;
  width:125px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u32 {
  position:absolute;
  left:318px;
  top:650px;
  width:125px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u33 {
  position:absolute;
  left:318px;
  top:700px;
  width:125px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u34 {
  position:absolute;
  left:492px;
  top:137px;
  width:0px;
  height:0px;
}
#u34_seg0 {
  position:absolute;
  left:-36px;
  top:-4px;
  width:36px;
  height:8px;
}
#u34_seg1 {
  position:absolute;
  left:-36px;
  top:-4px;
  width:8px;
  height:503px;
}
#u34_seg2 {
  position:absolute;
  left:-49px;
  top:491px;
  width:21px;
  height:8px;
}
#u35 {
  position:absolute;
  left:-82px;
  top:232px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:381px;
  top:210px;
  width:0px;
  height:0px;
}
#u36_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:333px;
}
#u37 {
  position:absolute;
  left:-50px;
  top:156px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:604px;
  top:137px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u38_seg1 {
  position:absolute;
  left:30px;
  top:-4px;
  width:8px;
  height:547px;
}
#u38_seg2 {
  position:absolute;
  left:30px;
  top:535px;
  width:103px;
  height:8px;
}
#u38_seg3 {
  position:absolute;
  left:125px;
  top:539px;
  width:8px;
  height:4px;
}
#u39 {
  position:absolute;
  left:-16px;
  top:292px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:740px;
  top:40px;
  width:125px;
  height:170px;
}
#u41 {
  position:absolute;
  left:2px;
  top:77px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42 {
  position:absolute;
  left:753px;
  top:59px;
  width:103px;
  height:156px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:733px;
  top:676px;
  width:0px;
  height:0px;
}
#u44_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u44_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:78px;
  height:8px;
}
#u44_seg2 {
  position:absolute;
  left:66px;
  top:-466px;
  width:8px;
  height:470px;
}
#u45 {
  position:absolute;
  left:20px;
  top:-206px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u46 {
  position:absolute;
  left:318px;
  top:755px;
  width:150px;
  height:205px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u47 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u48 {
  position:absolute;
  left:925px;
  top:149px;
  width:112px;
  height:75px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u49 {
  position:absolute;
  left:10px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u50 {
  position:absolute;
  left:1209px;
  top:88px;
  width:112px;
  height:75px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u51 {
  position:absolute;
  left:10px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  position:absolute;
  left:486px;
  top:755px;
  width:125px;
  height:170px;
}
#u53 {
  position:absolute;
  left:2px;
  top:77px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u54 {
  position:absolute;
  left:499px;
  top:765px;
  width:97px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56 {
  position:absolute;
  left:1202px;
  top:539px;
  width:125px;
  height:168px;
}
#u57 {
  position:absolute;
  left:2px;
  top:76px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u59 {
  position:absolute;
  left:1216px;
  top:549px;
  width:113px;
  height:122px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:1202px;
  top:657px;
  width:125px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u62 {
  position:absolute;
  left:1202px;
  top:682px;
  width:125px;
  height:25px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  position:absolute;
  left:662px;
  top:544px;
  width:125px;
  height:168px;
}
#u65 {
  position:absolute;
  left:2px;
  top:76px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u67 {
  position:absolute;
  left:676px;
  top:554px;
  width:113px;
  height:122px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:662px;
  top:662px;
  width:125px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u70 {
  position:absolute;
  left:662px;
  top:637px;
  width:125px;
  height:25px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0000FF;
  text-align:center;
}
#u71 {
  position:absolute;
  left:662px;
  top:687px;
  width:125px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:1623px;
  top:560px;
  width:138px;
  height:148px;
}
#u74 {
  position:absolute;
  left:2px;
  top:66px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u76 {
  position:absolute;
  left:1638px;
  top:567px;
  width:113px;
  height:107px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:1623px;
  top:684px;
  width:138px;
  height:22px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  position:absolute;
  left:1886px;
  top:60px;
  width:125px;
  height:168px;
}
#u81 {
  position:absolute;
  left:2px;
  top:76px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u83 {
  position:absolute;
  left:1900px;
  top:68px;
  width:99px;
  height:122px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:1886px;
  top:201px;
  width:125px;
  height:25px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  position:absolute;
  left:2122px;
  top:549px;
  width:125px;
  height:160px;
}
#u88 {
  position:absolute;
  left:2px;
  top:72px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u90 {
  position:absolute;
  left:2136px;
  top:557px;
  width:57px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  position:absolute;
  left:2122px;
  top:60px;
  width:125px;
  height:168px;
}
#u94 {
  position:absolute;
  left:2px;
  top:76px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u96 {
  position:absolute;
  left:2136px;
  top:68px;
  width:57px;
  height:122px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:865px;
  top:125px;
  width:0px;
  height:0px;
}
#u98_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u98_seg1 {
  position:absolute;
  left:41px;
  top:-4px;
  width:8px;
  height:70px;
}
#u98_seg2 {
  position:absolute;
  left:41px;
  top:58px;
  width:19px;
  height:8px;
}
#u99 {
  position:absolute;
  left:-5px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:981px;
  top:224px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u101 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:865px;
  top:125px;
  width:0px;
  height:0px;
}
#u102_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u102_seg1 {
  position:absolute;
  left:41px;
  top:-59px;
  width:8px;
  height:63px;
}
#u102_seg2 {
  position:absolute;
  left:41px;
  top:-59px;
  width:363px;
  height:8px;
}
#u102_seg3 {
  position:absolute;
  left:396px;
  top:-59px;
  width:8px;
  height:22px;
}
#u103 {
  position:absolute;
  left:132px;
  top:-63px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104 {
  position:absolute;
  left:1407px;
  top:42px;
  width:125px;
  height:168px;
}
#u105 {
  position:absolute;
  left:2px;
  top:76px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u107 {
  position:absolute;
  left:1421px;
  top:52px;
  width:93px;
  height:122px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:1407px;
  top:185px;
  width:125px;
  height:25px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u110 {
  position:absolute;
  left:1329px;
  top:610px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u110_seg1 {
  position:absolute;
  left:57px;
  top:-488px;
  width:8px;
  height:492px;
}
#u110_seg2 {
  position:absolute;
  left:57px;
  top:-488px;
  width:21px;
  height:8px;
}
#u111 {
  position:absolute;
  left:11px;
  top:-228px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:1265px;
  top:163px;
  width:0px;
  height:0px;
}
#u112_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:380px;
}
#u113 {
  position:absolute;
  left:-50px;
  top:180px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  position:absolute;
  left:1886px;
  top:545px;
  width:125px;
  height:151px;
}
#u116 {
  position:absolute;
  left:2px;
  top:68px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u118 {
  position:absolute;
  left:1900px;
  top:552px;
  width:71px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:1886px;
  top:672px;
  width:125px;
  height:22px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u121 {
  position:absolute;
  left:1760px;
  top:622px;
  width:0px;
  height:0px;
}
#u121_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u121_seg1 {
  position:absolute;
  left:106px;
  top:-5px;
  width:8px;
  height:9px;
}
#u121_seg2 {
  position:absolute;
  left:106px;
  top:-5px;
  width:20px;
  height:8px;
}
#u122 {
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1949px;
  top:545px;
  width:0px;
  height:0px;
}
#u123_seg0 {
  position:absolute;
  left:-4px;
  top:-317px;
  width:8px;
  height:321px;
}
#u124 {
  position:absolute;
  left:-50px;
  top:-166px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:2011px;
  top:144px;
  width:0px;
  height:0px;
}
#u125_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:115px;
  height:8px;
}
#u126 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:2185px;
  top:228px;
  width:0px;
  height:0px;
}
#u127_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:325px;
}
#u128 {
  position:absolute;
  left:-50px;
  top:152px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:2345px;
  top:60px;
  width:125px;
  height:168px;
}
#u131 {
  position:absolute;
  left:2px;
  top:76px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u133 {
  position:absolute;
  left:2359px;
  top:68px;
  width:29px;
  height:122px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:2247px;
  top:144px;
  width:0px;
  height:0px;
}
#u135_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:102px;
  height:8px;
}
#u136 {
  position:absolute;
  left:-1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
